<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDX7FCsak7U9q2VkY3fZ5t0EncKb9wsggE</string>
	<key>GCM_SENDER_ID</key>
	<string>1035601623427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emindmirror</string>
	<key>PROJECT_ID</key>
	<string>e-mind-mirror-isx1dz</string>
	<key>STORAGE_BUCKET</key>
	<string>e-mind-mirror-isx1dz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035601623427:ios:7537bfb8f26d37383d5eb6</string>
</dict>
</plist>